<h1>Add Kid</h1>


<%= form_for [:user, @kid] do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
  <%= f.fields_for :relationships do |r| %>
    <%= r.text_area :role %>
    <%# r.input :user, as: :hidden, input_html: { value: current_user } %>
  <% end %>

  <%= f.submit %>
<% end %>
