<h1>Add Kid</h1>

<%= simple_form_for [:user, @kid] do |f| %>
  <%= f.input :name %>
  <%= f.simple_fields_for :relationships do |r| %>
    <%= r.input :role, collection: [ "Mother", "Father"] %>
    <%= r.input :user, as: :hidden, input_html: { value: current_user } %>
  <% end %>

  <%= f.button :submit %>
<% end %>
