<h4>Add a kid:
  <span data-tooltip class="has-tip" title="Click here to add a kid!">
    <%= link_to(new_user_kid_path, class: "button small custom-success radius" ) do  %>
<i class="fi-torsos-all"></i>
<% end %></h4></span>
        <% @user.kids.includes(:reminders).each do |kid| %>
          <hr><h6><%= kid.name  %>'s reminders  <span data-tooltip class="has-tip" title="<%= "Click here to add a reminder for #{kid.name}"  %>">
            <%= link_to((new_user_kid_reminder_path [kid]), class: "button tiny success radius") do %>
              <strong><i class="fi-plus"></i></strong>
                <% end %></span>
                    <%= link_to(kid, method: :delete, data: { confirm: "are you sure?"}, class: "button radius tiny alert") do %>
                      <i class="fi-torso"></i>
                    <% end %></h6>
              <% kid.reminders.each do |reminder| %>
                    <p><%= kid.name %> took <strong> <%= reminder.name %>
                      <%= time_ago_in_words(reminder.updated_at) %> ago </p>
                        <%= form_for reminder do |f| %>
                          <%= f.submit "Reset!", class: "button tiny radius"  %>
                        <% end %>
                        <%= link_to "Delete!", reminder, method: :delete, data: { confirm: "Are you sure?"}, class: "button tiny radius alert"  %>
                <% end %>
              <% end %>
