
<%= link_to 'add kid', { controller: :kids, action: :new }, class: "button radius" %>
<%= link_to 'add a kid', { controller: :kids, action: :new}, remote: 'true', class: "button radius"  %>

        <% @user.kids.includes(:reminders).each do |kid| %>
          <hr> <br> <%= link_to((new_user_kid_reminder_path [kid]), class: "button radius tiny") do %>
                      add reminder for <strong><%= kid.name %></strong>
                    <% end %>
                    <%= link_to "remove #{kid.name}!", kid, method: :delete, data: { confirm: "are you sure?"}, class: "button radius tiny alert"  %>
              <% kid.reminders.each do |reminder| %>
                    <p><%= kid.name %> took <strong> <%= reminder.name %>
                      <%= time_ago_in_words(reminder.updated_at) %> ago </p>
                        <%= form_for reminder do |f| %>
                          <%= f.submit "Reset!", class: "button tiny radius"  %>
                        <% end %>
                        <%= link_to "Delete!", reminder, method: :delete, data: { confirm: "Are you sure?"}, class: "button tiny radius alert"  %>
                <% end %>
              <% end %>
