<% user_kids = @user.kids.includes(:reminders) %>
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Shows -->
            <div class="large-8 small-6 columns">


<dl class="tabs vertical" data-tab style="width: 30%">
  
  <dd>
    <%= link_to 'Kids', "#"  %>
  </dd>
  <% user_kids.each_with_index do |kid, i| %>
    <% if i == 0 %>
      <dd class="active"><%= link_to kid.name.titleize, "#kid-#{i+1}" %></dd>
    <% else %>
      <dd><%= link_to kid.name.titleize, "#kid-#{i+1}" %></dd>
    <% end %>
  <% end %>
</dl>


            <!-- Image -->

            <div class="tabs-content panel" align="left" style="float: right; width: 70%">
  <% user_kids.each_with_index do |kid, i| %>
    <% if i == 0 %>
      <div class="content active" id="kid<%= "-#{i+1}" %>">
    <% else %>
      <div class="content" id="kid<%= "-#{i+1}" %>">
    <% end %>
              <ul class="button-group radius">
                <li>
                  <span data-tooltip class="has-tip" title="<%= "Click here to add a reminder for #{kid.name}"  %>">
                    <%= link_to((new_user_kid_reminder_path [kid]), class: "button  radius tiny success") do %>
                      <i class="fi-plus"></i>
                    <% end %>
                  </span>
                </li>
                <li>
                  <span data-tooltip class="has-tip" title="<%= "Click here to remove #{kid.name}"  %>">
                    <%= link_to(kid, method: :delete, data: { confirm: "are you sure?"}, class: "button radius tiny alert") do %>
                      <i class="fi-torso"></i>
                    <% end %>
                  </span>
                </li>
                <li class="right">
                <h6>
                  <%= kid.name  %>'s reminders
                </h6>
                </li>
              </ul>
            <% kid.reminders.each do |reminder| %>
              <ul class="button-group radius">
              <li class="left">
                <h6>... took <strong><%= reminder.name %></strong> <%= time_ago_in_words(reminder.updated_at) %> ago  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp        </h6>
              </li>
                <li>
                <%= form_for reminder do |f| %>
                  <%= button_tag(type: 'submit', class: "button tiny radius") do %>
                    <i class="fi-refresh"></i>
                  <% end %>
                <% end %>
                </li>
                <li >
                <%= link_to reminder, method: :delete, data: { confirm: "Are you sure?"}, class: "button tiny radius alert" do  %>
                  <i class="fi-x"></i>
                <% end %>
                </li>
              </ul>
              <% end %>
      </div>
    <% end %>
            </div>

            </div>
            <!-- End Image -->


            <!-- Feed -->

            <div class="large-4 small-12 columns">


              <div class="text-center panel hide-for-small">
                <%= link_to new_user_kid_path, class: "custom-success" do  %>
                  Add a kid: <i class="fi-torsos-all"></i>
                  <% end %>
              </div>



            </div>


          </div>
        </div>
      </div>


